@import "./variables.scss";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
	padding-top: 40px;
	font-family: 'Scada', sans-serif;
	font-size: $main-text;	
	background: #b4e5f9;
	color:#005290;
}

h1 {
	font-size: 3em;
}


.centered {
	display: flex;
    justify-content: center;
    align-items: center;
	vertical-align: middle;
	height: 100%;
}

.jumbotron {
	background: #b4e5f9;
	background-image: url('../img/bkg_jumbotron.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -10vh;
	color: #C7254E;
	border-radius: 0;
	 	
	 
	
		h1 {
			font-size: 3em;
		
		}

		p {
			font-size: 1em;

			}
		
		.morozik {
				max-width: 25vw;
		
		}
		
		.info {
				padding: 10px;
				display: inline;
				

		}	
			
		.btn.btn-default{
				display: block;
				margin: 10px auto;
				height: 60px;
				width: 320px;		
				font-size: 14pt;
				letter-spacing: 0.5em;
				text-transform: uppercase;
				text-align: center;
				background: #C7254E;
				color:white;
						
						&:hover{
							background: maroon;
							color:#C7254E;
						}
						&:active{
							color:white;	
						}
}
}

#myCarousel {
	height: 345px;
	overflow: hidden;
}




.flat-icons {
     margin-top: 10vh;
}

.texter {
	text-align: center;
	font-size: 75px;
	display: block;
	color:#005290;
	
	p {
		font-size: 14px;
		text-align: left;
		padding: 20px;
	}
}



.partners {
	margin:20px 20px 80px;

}

.logos {
  	display: flex;
  	justify-content: space-between;
  	flex-flow: row wrap;
 
	
}

.nav-link {
	text-align: center;
}

