$container-width: 670px;
$left-nav-width: 300px;

$min-content-width: $container-width + $left-nav-width + 30px;

$gray-dark: #333;
$gray-light: #777;
$gray-light-light: #ccc;

$blue-light-light: #F5FBFF;
$blue-lighter: #E9F6FF;
$blue-light: #d4edff;
$blue-light-darker: #ABDAFB;
$blue-dark-light: #56ADE6;
$blue-darker-light: #1379C5;
$blue-dark: #0080D6;
$blue-darker: #005290;

$green-light: #E7FFF3;
$green-dark-light: #2DC6A8;
$green-dark: #007962;

$yellow-light: #FFFFED;
$yellow-dark-light: #FFB771;
$yellow-dark: #D26800;


$red-light: #F9F2F4;
$red-dark-light: #F9F2F4;
$red-dark: #c71f2f;
$red-bright: #FF0000;

$main-text: 14pt;

$callout-text: 22pt;
$callout-header: 50pt;